<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AccountEdit</title>
</head>
<body>
  <p><%= id %></p>
  <form action = "/AccountEdit" method = "POST"><button>NextPage</button>
  <input type = "text">
  </form>
</body>
</html>