<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peer_Assessment</title>
  <link rel = "stylesheet" href = "/CSS/AccountLogin.css">
</head>
<body id = "main_body">
  
                <form action = "/AccountLogin" method = "POST">
                  <div id = "maindiv">
                    <div id = "get_user_id">
                        <input type = "text" id = "login_input" name = "login_user_id">
    
                    </div><div id = "get_user_password">
                      <input type = "text" id = "login_input" name = "login_user_pass" >
                      <button id = "login_button"> Giris YAP ! </button>
                    </div>
    
                    </div>
                    <div >
    
                    </div>
                </form>
               <main>
                        <% if (check == false) { %>
                        <p>Yanlis Girdin</p>
                        <% } %>
                

               </main>

               
              

</body>
</html>